<template>
  <v-layout wrap>
    <v-flex xs12 sm6 md4 mb-4 v-for="(item, index) in dataList" :key="index">
      <v-card class="mx-auto" max-width="344">
        <v-img :src="item.img" height="300px" position="none"></v-img>
        <v-card-title>
          {{ item.name }}
        </v-card-title>

        <v-card-subtitle>
          {{ item.nickname }}
        </v-card-subtitle>
        <div v-if="!onlyImages">
          <v-card-actions>
            <v-btn block @click="expand(item)">
              <v-icon>{{
                item.show ? "mdi-chevron-up" : "mdi-chevron-down"
              }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-expand-transition>
            <div v-show="item.show">
              <v-divider></v-divider>
              <v-card-text>
                Birthday: {{ item.birthday }} <br />
                Status: {{ item.status }}<br />
                Portrayed: {{ item.portrayed }}<br />
                Occupation: {{ item.occupation.join(", ") }}
              </v-card-text>
            </div>
          </v-expand-transition>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    onlyImages: {
      type: Boolean,
      default: false
    },
    data: {
      type: Array,
      default: () => []
    },
    search: {
      type: String,
      default: null
    }
  },
  methods: {
    expand(item) {
      this.$emit("expand", item);
    }
  },
  computed: {
    dataList() {
      let searchItem = this.search ? this.search.toLowerCase() : null;
      return this.search
        ? this.data.filter(ele => {
            // console.log('sdsd',ele.nickname.toLowerCase().match(searchItem))
            if (
              ele.name.toLowerCase().match(searchItem) ||
              ele.nickname.toLowerCase().match(searchItem)
            ) {
              return ele;
            }
          })
        : this.data;
    }
  }
};
</script>
