<template>
  <v-data-table
    :headers="headers"
    :items="customerData"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Customers</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="50%" scrollable>
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on"
              >New Item</v-btn
            >
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-row>
                    <v-col cols="12" sm="6" md="12">
                      <v-text-field
                        v-model="editedItem.name"
                        label="Name"
                        outlined
                        :rules="[
                          v => !!v || 'Name is required',
                          v =>
                            (v && v.length >= 3) || 'Phone must be greater then 3 characters'
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="12">
                      <v-text-field
                        v-model="editedItem.phone"
                        label="Phone Number"
                        outlined
                        :rules="[
                          v => !!v || 'Phone is required',
                          v =>
                            (v && v.length <= 10) ||
                            'Phone must be 10 characters',
                          v => !isNaN(v) || 'Only numbers allowed'
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="12">
                      <v-text-field
                        v-model="editedItem.email"
                        label="Email"
                        outlined
                        :rules="[
                          v => !!v || 'E-mail is required',
                          v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedItem.address"
                        label="Address"
                        outlined
                        :rules="[
                          v => !!v || 'Address is required'
                        ]"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">
        mdi-pencil
      </v-icon>
      <v-icon small @click="deleteItem(item)">
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    valid: true,
    headers: [
      {
        text: "Name",
        align: "start",
        sortable: false,
        value: "name"
      },
      { text: "Phone Number", value: "phone" },
      { text: "Email", value: "email" },
      { text: "Address", value: "address" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    customerData: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      phone: "",
      email: "",
      address: ""
    },
    defaultItem: {
      name: "",
      phone: "",
      email: "",
      address: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.customerData = this.$store.getters['customers/customerData'];
    },

    editItem(item) {
      this.editedIndex = this.customerData.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.customerData.indexOf(item);
      if(confirm("Are you sure you want to delete this item?")){
        this.customerData = this.customerData.filter((ele, idx) => index !==idx );
      }
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.$refs.form.reset()
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          Object.assign(this.customerData[this.editedIndex], this.editedItem);
        } else {
          this.customerData = [...this.customerData, this.editedItem];
        }
        this.close();
      }
    }
  }
};
</script>
