<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm12 md12>
        <p class="text-h3 text-center">{{ title }}</p>
      </v-flex>
      <v-flex xs12 sm12 md12 mb-5>
        <v-text-field
          append-icon="mdi-microphone"
          class="mx-4"
          flat
          hide-details
          label="Search"
          prepend-inner-icon="mdi-magnify"
          solo-inverted
          v-model="search"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <BreakingBadListView
      :data="breakingBadData"
      :onlyImages="true"
      :search="search"
    />
  </div>
</template>

<script>
import BreakingBadListView from "../components/BreakingBadListView";
export default {
  components: [BreakingBadListView],
  data: () => ({
    title: "Breaking Bad Image search",
    search: null
  }),
  components: {},
  computed: {
    breakingBadData() {
      if (!this.$store.getters["breakingBad/breakingBadData"].length) {
        this.$store.dispatch("breakingBad/getBreakingBadData", { limit: 30 });
      }
      return this.$store.getters["breakingBad/breakingBadData"];
    }
  }
};
</script>

<style lang="scss" scoped></style>
