<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm12 md12>
        <p class="text-h3 text-center">{{ title }}</p>
      </v-flex>
    </v-layout>
    <BreakingBadListView :data="breakingBadData" @expand="expand($event)"/>
  </div>
</template>

<script>
import BreakingBadListView from "../components/BreakingBadListView";
export default {
  components: [BreakingBadListView],
  data: () => ({
    breakingBadData: [],
    title: "Breaking Bad Characters"
  }),
  components: {},
  created() {
    this.getBreakingBadData();
  },
  methods: {
    getBreakingBadData() {
      this.$store
        .dispatch("breakingBad/getBreakingBadData", { limit: 30 })
        .then(response => {
          this.breakingBadData = response.map(ele => {
            return { ...ele, ...{ show: false } };
          });
        })
        .catch(err => {
          console.log("error", err);
        });
    },
    expand(item) {
      item.show = !item.show;
    }
  }
};
</script>

<style lang="scss" scoped></style>
