<template>
  <v-card max-width="375" class="mx-auto">
    <v-card-title>
      Profile
    </v-card-title>
    <v-list two-line>
      <v-list-item>
        <v-list-item-icon>
          <v-icon color="indigo">mdi-phone</v-icon>
        </v-list-item-icon>

        <v-list-item-content v-if="!editPhoneField">
          <v-list-item-title>{{ phone }}</v-list-item-title>
          <v-list-item-subtitle>Phone</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-content v-else>
          <v-text-field
            v-model="phone"
            label="Phone"
            required
            class="input-field"
            outlined
            :rules="phoneRules"
          ></v-text-field>
        </v-list-item-content>
        <v-list-item-icon>
          <v-icon @click="editPhone(editPhoneField)">{{
            !editPhoneField ? "mdi-pencil" : "mdi-checkbox-marked-circle"
          }}</v-icon>
        </v-list-item-icon>
      </v-list-item>

      <v-divider inset></v-divider>

      <v-list-item>
        <v-list-item-icon>
          <v-icon color="indigo">mdi-email</v-icon>
        </v-list-item-icon>

        <v-list-item-content v-if="!editEmailField">
          <v-list-item-title>{{ email }}</v-list-item-title>
          <v-list-item-subtitle>Email</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-content v-else>
          <v-text-field
            v-model="email"
            label="Email"
            required
            class="input-field"
            outlined
            :rules="emailRules"
          ></v-text-field>
        </v-list-item-content>
        <v-list-item-icon>
          <v-icon @click="editEmail(editEmailField)">{{
            !editEmailField ? "mdi-pencil" : "mdi-checkbox-marked-circle"
          }}</v-icon>
        </v-list-item-icon>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    email: "",
    phone: "",
    editEmailField: false,
    editPhoneField: false,
    phoneRules: [
      v => !!v || "Phone is required",
      v => (v && v.length <= 10) || "Phone must be 10 characters",
      v => !isNaN(v) || "Only numbers allowed"
    ],
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ]
  }),
  mounted() {
    if (localStorage.phone) {
      this.phone = localStorage.phone;
    }
    if (localStorage.email) {
      this.email = localStorage.email;
    }
  },
  methods: {
    editPhone(item) {
      this.editPhoneField = !item;
      if (item) {
        localStorage.phone = this.phone;
      }
    },
    editEmail(item) {
      this.editEmailField = !item;
      if (item) {
        localStorage.email = this.email;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.input-field {
  margin: 0;
  padding: 0;
}
</style>
